@{
    ViewBag.Title = "Manage Account";
}

@if (TempData["EmailSuccess"] != null)
{
    <div class="alert alert-success">@TempData["EmailSuccess"]</div>
}

<h2>Account Management</h2>

<div>
    <a href="@Url.Action("ChangePassword", "Account")">Change Password</a>
</div>

<div>
    <a href="@Url.Action("ChangeEmail", "Account")">Change Email</a>
</div>

<div class="text-center">
    <img style="width:250px;height:250px;" src="https://cdn-icons-png.flaticon.com/512/944/944249.png?w=1380&t=st=1673913170~exp=1673913770~hmac=5cd5e6e28779d819c06146c6e491eafccff109994df4131fcb31e45df94ace43" alt="Observatory" />
</div>
