@{
    ViewBag.Title = "Manage Account";
}

@if (TempData["EmailSuccess"] != null)
{
    <div class="alert alert-success">@TempData["EmailSuccess"]</div>
}

<h2>Account Management</h2>

<div>
    <a href="@Url.Action("ChangePassword", "Account")">Change Password</a>
</div>
<div>
    <a href="@Url.Action("ChangeEmail", "Account")">Change Email</a>
</div>