@{
    ViewBag.Title = "Manage Account";
}

<h2>Manage Account</h2>

<div>
    <a href="@Url.Action("ChangePassword", "Account")">Change Password</a>
</div>
<div>
    <a href="@Url.Action("ChangeEmail", "Account")">Change Email</a>
</div>