@if (ViewBag.SunSign.Id == 0)
{
    <p>It looks like you haven't calculated your sun sign yet. Click the link below to access the sun sign calculator</p>
    <form>
        <button type="submit" asp-controller="SubmitDOB" asp-action="Index">Sun Sign Calculator</button>
    </form>
}
else
{
    <div class="text-center">
        <h1>Horoscope</h1>
        <hr />
        <br />
    </div>

    <div class="text-center">
        <img style="width:250px;height:250px;" src="https://cdn-icons-png.flaticon.com/512/849/849023.png?w=1380&t=st=1673898287~exp=1673898887~hmac=e94c1625bf007c9e1a62fc4c2bdb6dd334178afafd60e072ebc3ae369ad8d9f0" />
    </div>


    <div class="text-center">
        <form method="post" asp-controller="Horoscope" asp-action="GetHoroscope">

            <h3 for="sign">Horoscope for <em>@ViewBag.SunSign.LatinName</em></h3>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="sign" id="sign" value="@ViewBag.SunSign.LatinName" checked/>
            </div>
            <br />

            <h3>Select a day</h3>
            <button class="btn btn-outline-info" type="submit" name="day" value="yesterday">Yesterday</button>
            <button class="btn btn-outline-info" type="submit" name="day" value="today">Today</button>
            <button class="btn btn-outline-info" type="submit" name="day" value="tomorrow">Tomorrow</button>

        </form>
    </div>
}
