@*@using Microsoft.AspNetCore.Identity;*@

<div class="text-center">
    <div class="mx-auto">
        <form>
            <h2>Is this your date of birth?</h2>
            <h2>@ViewBag.TempDOB</h2>
            <button type="submit" asp-controller="CastChart" asp-action="Index" class="btn btn-outline-success">Yes</button>
            <button type="submit" asp-controller="SubmitDOB" asp-action="Index" class="btn btn-outline-danger">No</button>
        </form>
    </div>
</div>

