
<div>
    <h1>Sun Sign Calculator</h1>
    <form name="SunSignCalculator" method="post" asp-controller="SubmitDOB" asp-action="SubmitDOB">
        <p>
            I was born...<br />
            <input name="DOB" type="date" />
        </p>
        <button type="submit">Show Me My Sun Sign</button>
    </form>
</div>